// This partial is only for setting fonts

// Media Query Variables

$media-tablet: 758px;
$media-desktop: 1024px;


// Common Spaces Variables
$padding-tiny: 2.5vw;
$padding-small: 5vw;
$padding-med: 10vw;
$padding-lg: 15vw;

// Functions
